.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6rem;
}
.contact-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.contact-left-title h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}
.contact-inputs {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding: 15px;
    background: #202020;
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 5px;
}
.contact-left textarea{ 
    height: 140px;
    padding: 15px;
    border-radius: 5px;
    background: #202020;
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 5px;
}
.contact-inputs:focus{
    border: 2px solid #ffffff;
}
.contact-left button:hover{
    transform: translateX(10px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}
.contact-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}